/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/05/2022, 11:49:02 AM
    Author     : erenc
*/

body {
  background-color: powderblue;
  font-family: arial
}
h1 {
  color: black;
  font-family: arial
}
p {
  color: black;
  font-family: arial
}